form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 25%;
  padding: 12px;
  border: 1px solid #000;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 16px;
}

input[type="submit"] {
  width: 10%;
  background-color: #efaac4;
}

input[type="submit"]:hover {
  background-color: #f4ebe8;
  border: 1px solid #000;
}
